.top-nav {

}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.header-item-container {
  font-size: 1em;
}

.logo {
  width: 90px;
  height: 50px;
}

.website-name {
  margin-left: 2em;
  font-size: 1em;
}

.search {
  margin-left: 11em;
  margin-right: 13em;
  height: 1.8em;
  width: 20em;
  font-size: 0.9em;
}

.icons-top {
  display: flex;
  flex-direction: row;
  margin-top: -1.5em;
  margin-left: 40em;
}

.search::placeholder {
  font-size: 0.8em;
}

.home {
  margin-right: 1em;
  font-size: 0.9em;
}

.courses {
  margin-right: 1em;
  font-size: 0.9em;
}

.blog {
  font-size: 0.9em;
  border-right: 3px solid white;
}

#navbar {
  transition: all 0.3s;
}

.login {
  margin-left: 2em;
  margin-right: 1em;
  font-size: 0.9em;
  padding: 0.19em 0.6em;
  /* background-color: #0f7c90; */
}

.signup {
  margin-right: 1em;
  font-size: 0.9em;
  padding: 0.1em 0.34em;
  background-color: #0f7c90;
}

@media screen and (max-width: 600px) {

    .website-name {
      margin-left: 0em;
    }

    .top {
      margin-bottom: 10em;
    }
        
    .search {
      margin-left: -4em;
      margin-top: 15em;
      margin-bottom: 1em;
      width: 18em;
    }

    .icons-top {
        display: flex;
        flex-direction: column;
        margin-left: -4em;
        margin-top: 0.2em;

        transition: top 0.3s;
    }

    .icons-first-row {
      display: flex;
      flex-direction: row;
      margin-left: 1.6em;
      margin-bottom: 0.4em;
      width: 15em;
    }

    #btn1 {
      margin-bottom: 0.5em;
      margin-right: 1.2em;
    }

    .icons-second-row {
      display: flex;
      flex-direction: row;
      margin-left: 1.5em;
      width: 20em;
    }

    .login {
      width: 5em;
    }

    .signup {
      width: 5em;
    }

    #btn2 {
      margin-bottom: 0.5em;
      margin-right: 1.5em;
    }
 

}
