.courses {
    text-align: center;
    margin-top: 5em;

    font-size: 2.5em;
    line-height: 1.2;
    font-family: "Playfair Display";
    font-weight: 100;
    letter-spacing: 0px;
    color: #000c30;
    margin-bottom: 6em;
}

@media screen and (max-width: 600px) {

    .courses {
        text-align: center;
        margin-top: 15em;

        font-size: 1.5em;
        line-height: 1.2;
        font-family: "Playfair Display";
        font-weight: 100;
        letter-spacing: 0px;
        color: #000c30;
    }
}