
.footer-section-container {
    /* margin-top: 91.8vh; */
    margin-top: 0%;
    /* background-color:rgb(68, 55, 187); */
    background-color: rgb(60,84,180);
    height: 41vh;
    width: 100%;
}

.footer-section-content {
    display: flex;
    flex-direction: row;
    height: 30vh;
}

.recent-news-section {
    width: 25vw;
    margin-left: 24vw;
    font-weight: bold;
}

.recent-news-section h1 {
    color: white;
    font-weight: 400;
    font-size: 1.8em;
    margin-top: 8vh;
}

.recent-news-section ul li {
    font-size: 1em;
    margin-bottom: 0.2em;
}

.help {
    color: white;
    font-weight: 300;
}

#btn {
    font-size: 1.3em;
}

.signup-section {
    margin-left: 10vh;
    margin-top: 4.5vh;
}

.signup-section p {
    margin-top: 5vh;
    color: white;
    font-weight: 300;
    font-size: 1.3em;
}

.button {
    background-color: white;
    text-align: center;
    margin-top: -0.2em;
    margin-left: 1vw;
    padding: 1em;
    height: 3.5vh;
    border-radius: 5px;
    font-size: 1.1em;
}

.connect {
    font-size: 1.2em;
    color: white;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.button h1 {
    margin-top: -0.8em;
    font-size: 1.2em;
}

.aman {
    display: flex;
    flex-direction: row;
}

.social-media-links {
    display: flexbox;
    margin-left: 0.3em;
    box-shadow: black;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 2em;
}

#social-media-links a:link .fa, #social-media-links a:visited .fa  {
    color: black;
}

.copyright {
    margin-left: 5vw;
    color: white;
    margin-top: 1.8em;
    font-size: 1.2em;
}

#youtube {
    margin-right: 0.4em;
}
#linkedin {
    margin-right: 0.4em;
}

#fb {
    margin-right: 0.4em;
}

#instagram {
    margin-right: 0.4em;
}

.subscribe {
    color: white;
    font-size: 1.7em;
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {

    .footer-section-container {
        height: 61vh;
        margin-top: 35vh;
    }

    .footer-section-content {
        display: flex;
        flex-direction: column;
        margin-left: 2em;
    }

    .recent-news-section {
        margin-left: 3.8em;
        margin-right: 3.8em;
        margin-top: 1.8em;
        width: auto;
    }

    .recent-news-section h1 {
        margin-top: 0%;
    }

    .copyright {
        margin-top: 24vh;
        font-size: 1.05em;
        margin-bottom: 1em;
    }

    .signup-section {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .signup-section p {
        margin-top: 1em;
    }

    .button {
        margin-left: 0.8em;
        margin-right: 0.8em;
    }

}