<div class="main">


    <ngb-carousel class="image-slider">

        <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img" src="../../../assets/images/hero-unit/doctor-operation.jpg" alt="">
        </div>
        <!-- <div class="carousel-caption" id="desc">
            <h3>Travel the world with ease</h3>
            <p>Carry the travel card as the best friend on your travels abroad.</p>
        </div> -->
        </ng-template>
        
        <ng-template ngbSlide> 
        <div class="picsum-img-wrapper">
            <img class="img" src="../../../assets/images/hero-unit/doctors-online-table.jpg" alt="">
        </div>
        <!-- <div class="carousel-caption" id="desc">
            <h3>Travel with the tradition of trust</h3>
            <p>Get your International Travel Card online from the safety of your home.</p>
        </div> -->
        </ng-template>
        
        <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img" src="../../../assets/images/hero-unit/education-life.jpg" alt="Random third slide">
        </div>
        <!-- <div class="carousel-caption" id="desc">
            <h3>Get Free Airport Lounge Access</h3>
            <p>Avail benefits of exciting offers on your travel cards.</p>
        </div> -->
        </ng-template>
    
    </ngb-carousel>

    <div class="founder-page">
        <h1 class="founder">Meet the Founder &nbsp;</h1>
        <p class="founder-tag">It's just not your dream, it's mine too!</p>
        <img class="founder-image" src="../../../assets/images/anki-image.jpg" alt="">
        <p class="founder-name">Ankita Barnwal</p>
        <p class="fo">Founder</p>
        
        <button
          class="about-me" 
          mat-flat-button
          color="primary" 
          routerLink="/about-me"
          >
          About me
        </button>
    </div>

    <!-- <youtube-player videoId="HnhjuP2n3J0"></youtube-player> -->

    <!-- <iframe class="youtube-video" src="https://www.youtube.com/embed/HnhjuP2n3J0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

</div>